.onion{
  background-image:url("/images/shield.png"),url("/images/bg2.png");
  background-color:#68FF78;
  background-repeat:no-repeat, repeat;
  background-attachment:fixed;
  background-position:center;
  }
  
.logos{
  width:50vw;
  height:30vh;
  margin-top:35vh;
  margin-left:25vw;
  z-index:8;
  }
  
.fade-in {
animation: fadeIn ease 5s;
-webkit-animation: fadeIn ease 5s;
-moz-animation: fadeIn ease 5s;
-o-animation: fadeIn ease 5s;
-ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
  

  
.runner{
  font-family: 'Permanent Marker', cursive;
  font-size:5vw;
  text-align:center;
  color:#95004B;
  background-image:url("/images/bubble.png");
  background-repeat: repeat;
  background-attachment:scroll;
  opacity:0;
  z-index:10;
  }
  
.digit {
		opacity: 0;
		height:10vh;
		-webkit-transform: translateX(-40px);
			 -moz-transform: translateX(-40px); 
				-ms-transform: translateX(-40px);
				 -o-transform: translateX(-40px);
						transform: translateX(-40px);
		-webkit-transition: all 0.6s ease-out;
			 -moz-transition: all 0.6s ease-out;
				-ms-transition: all 0.6s ease-out;
				 -o-transition: all 0.6s ease-out;
						transition: all 0.6s ease-out;
	}
	.digit.visible {
		opacity: 0.8;
		background:#FF5B72;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}
	.words{
		opacity:1;
		color:#000000;
		font-size:3vw;
		text-align:center;
	}
	.digit:nth-child(2) {
		margin-left:20vw;
		background:#FF2B92;
	}
	.digit:nth-child(3) {
		margin-left:40vw;
		background:#EC4CFF;
	}
	.digit:nth-child(4) {
		margin-left:60vw;
		background:#B134FF;
	}
	
#reveal1 {
		opacity: 1;
		background:#FF00EC;
		-webkit-transform: scale(0.9);
			 -moz-transform: scale(0.9);
				-ms-transform: scale(0.9);
				 -o-transform: scale(0.9);
						transform: scale(0.9);
		-webkit-transition: all 1s ease-in-out;
			 -moz-transition: all 1s ease-in-out;
				-ms-transition: all 1s ease-in-out;
				 -o-transition: all 1s ease-in-out;
						transition: all 1s ease-in-out;
	}
	#reveal1.visible {
		opacity: 0;
		-webkit-transform: none; 
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
	}

#gear {
    display: flex;
    justify-content: space-between;
}
#leftgear{
    width: 20vw;
    max-width: 20%;
    height: auto;
    position: fixed;
    opacity:0.5;
    left:40vw;
    top:40vh;
    z-index:3;
}
#rightgear{
  width:10vw;
  max-width:10%;
  height:auto;
  position: fixed;
  opacity:0.5;
  left:45vw;
  top:44vh;
  z-index:2;
  }

.name{
  font-family: 'Lobster', cursive;
  font-weight:bold;
  font-size:20px;
}


