.main-looks {
	width:100%;
	margin:0 auto;
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7XnasT0Fmh2ftixmpR103_lkA2IeKgbIrmw&usqp=CAU);
	background-size: cover;
	text-align: center;
}

.template-info{
	
}

